<h1>List of photos</h1>


<form action="">
<div>
  <label for="new_photo">Image</label>
  <input id="new_image" type="text" placeholder="Enter a URL for the image..." name="new_image">

  <label for="new_photo">Caption</label>
  <input id="new_caption" type="text" placeholder="Enter a caption for the photo..." name="new_caption">

  <label for="new_photo">Owner ID</label>
  <input id="owner" type="text" placeholder="Enter an ID of a User..." name="owner">

<button>Add photo</button></div>
</form>

<hr>

<table border="1"> 
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th></th>
  </tr>

  <%  @list_of_photos.each do |this_photo|%>
    <tr>
    <td> <img src="<%= this_photo.image%>" style ="width:250px;"></td> 
    <td> <%= this_photo.poster.username %> </td>
    <td> <%= this_photo.caption %> </td> 
    <td> <%= this_photo.created_at %> </td>
    <td><a href="/photos/<%=this_photo.id %>">Show details</a></td>
  </tr>
  <% end %>

</table>
